mixin footer()
  +b.FOOTER.footer--js&attributes(attributes)
    +e.container.container-fluid
      +e.row.row
        .col-md
          +footerPolicy()
        .col-md-auto
          +footerSoc()