include ../../blocks/sHoldService/_sHoldService.pug

mixin modal()
	//  start modals
	.mod-win-cont-js.bg-primary#sHoldService
		+sHoldService()
	.mod-win-cont-js.bg-black#sHoldService2
		+sHoldService2()
	.mod-win-cont-js.bg-black#sHoldService3
		+sHoldService3()
	+b.modal-win(id="modal-hold-flat" class=" " style="display: none")
		+form-wrap(class="text-center")
			+e.title
				| Забронировать
				br
				| квартиру
			+e.txt Оставьте Ваши контактные данные
			+e.inputs
				+input('Ваше имя', 'text', undefined, 'name')
				+input('Номер телефона', 'tel')
			+e.send-btn(type='submit') Отправить
			+e.policy
				| Отправляя формуя принимаю условия
				|
				a(href='#') Политики конфиденциальности
	// #modal-hold-flat
	+b.modal-win(id="modal-call" class=" " style="display: none")
		+form-wrap(class="text-center")
			+e.title
				| Закажите звонок
			+e.txt
				| И мы свяжемся с вами в течении
				|
				br.d-none.d-sm-block
				| 15 минут и проконсультируем
				|
				br.d-none.d-sm-block
				| по любому вопросу
			+e.inputs
				+input('Ваше имя', 'text', undefined, 'name')
				+input('Номер телефона', 'tel')
			+e.send-btn(type='submit') Отправить
			+e.policy
				| Отправляя формуя принимаю условия
				|
				a(href='#') Политики конфиденциальности
	// #modal-call
	+b.modal-win(id="modal-order" class=" " style="display: none")
		+form-wrap(class="text-center")
			+e.title
				| Закажите звонок
			+e.txt
				| И мы свяжемся с вами в течении
				|
				br.d-none.d-sm-block
				| 15 минут и проконсультируем
				|
				br.d-none.d-sm-block
				| по любому вопросу
			+e.inputs
				+input('Ваше имя', 'text', undefined, 'name')
				+input('Номер телефона', 'tel')
				+input('Ваш вопрос', 'textarea')
			+e.send-btn(type='submit') Отправить
			+e.policy
				| Отправляя формуя принимаю условия
				|
				a(href='#') Политики конфиденциальности
	// #modal-order
	
	// end modals