.modal-win {
	color: $white;
	background-color: $black!important;

	max-width: 100%;
	width: 480px;
	position: relative;

	.modal-content {

	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap{
		&__title{
			font-size: 24px;
			margin-bottom: 30px;
			@include media-breakpoint-up(sm){
				font-size: rem(32px);
				margin-bottom: rem(37);
			}
		}
		&__txt{
			font-size: 18px;
			margin-bottom: 20px;
			@include media-breakpoint-up(sm){
				font-size: rem(20px);
			}
		}
		&__inputs{
			padding-bottom: 43px;
		}
		&__input-wrap{
			margin-bottom: 10px;
			@include media-breakpoint-up(sm){
				margin-bottom: 15px;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
		&__input{
			color: $white;
			border-color: $white;
			@include placeholder(){
				color: rgba($white, .5);
			}
		}
		&__send-btn{
			@extend .btn;
			@extend .btn-white;
			min-width: 100%;

			padding: 8px 20px;
			font-size: 18px;
			margin-bottom: 26px;
			@include media-breakpoint-up(sm){
				padding: 14px 20px;
				font-size: rem(20);
				margin-bottom: 30px;
			}
		}
		&__policy{
			font-size: 12px;
			letter-spacing: 0.3px;
			@include media-breakpoint-up(sm){
				letter-spacing: 0.1px;
			}

			a{
				color: $white;
				&:hover{
					color: rgba($white, .8);
				}
			}
		}
	}
	&__{}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}


.mfp-close {
	user-select: none;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	line-height: 56px;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}


