// start .sCompleated
.sCompleated {
	flex-grow: 1;

	--sTPB: 27px;
	--sPB: 7px;
	@include media-breakpoint-up(sm){
		--sTPB: 30px;
		--sPB: 30px;
	}
	@include media-breakpoint-up(xxl){
		--sTPB: 5px;
	}

	display: flex;
	flex-direction: column;
	&__container{
		flex-grow: 1;
		@include media-breakpoint-up(lg){
			display: flex;
			flex-direction: column;
		}
	}
	&__slider-wrap{
		margin: auto 0;
		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{
			@include media-breakpoint-down(lg){
				flex-wrap: wrap!important;
				transform: none!important;
			}
		}
		.swiper-slide{
			&.swiper-slide-duplicate{
				@include media-breakpoint-down(lg){
					display: none;
				}
			}

			width: 100%;
			margin-bottom: 20px;
			@include media-breakpoint-up(sm){
				margin-bottom: 30px;
			}
			@include media-breakpoint-up(lg){
				margin-bottom: 0;
				width: calc((110% / 2) - (40px * 1 / 2));
			}
			@include media-breakpoint-up(xl){
				width: calc((90% / 2) - (40px * 1 / 2));
			}
			@include media-breakpoint-up(xxl){
				width: rem(752px);
			}
		}
	}
	&__name{
		color: $black;

		font-size: 20px;
		letter-spacing: -0.15px;
		margin-bottom: 15px;
		@include media-breakpoint-up(sm){
			letter-spacing: -0.35px;
			font-size: rem(28);
			margin-bottom: rem(24);
		}
		@include media-breakpoint-up(lg){
			height: 63px;
			margin-bottom: rem(10);
		}
		@include media-breakpoint-up(xxl){
			font-size: 32px;
		}
	}
	//
	&__img{
		@extend .accept-ratio-frame;

		padding-top: (171/288) * 100%;
		@include media-breakpoint-up(sm){
			padding-top: (446.5/752) * 100%;
		}

		margin-bottom: 14px;
		@include media-breakpoint-up(sm){
			margin-bottom: rem(20);
		}
	}
	//foot
	&__foot{

	}
	&__f-row{
		@include roww(41px);
		@include media-breakpoint-up(sm){
			@include roww(rem(47));
		}

		& > *{
			margin-bottom: 15px;
		}
		margin-bottom: -15px;
	}
	&__lower-link{
		font-weight: 500;

		font-size: 12px;
		@include media-breakpoint-up(sm){
			font-size: rem(14);
		}
		line-height: 1.2;
		color: $black;
	}
	&__videos{

	}
	&__{}
} // end.sCompleated

.section-title{
	@include media-breakpoint-up(lg){
		max-width: calc(100% - var(--header-w));
	}
	&__row{
		@include roww(17px);
		@include media-breakpoint-up(sm){
			@include roww(24px);
			align-items: center;
		}
		@include media-breakpoint-up(xxl){
			@include roww(36px);
		}
	}
	&__back-link{
		width: 24px;
		height: 30px;

		display: flex;
		align-items: center;
		justify-content: center;
		.icon{
			font-size: 24px;
			stroke: $primary;
		}
	}
	h1{
		color: $primary;
		font-size: 24px;
		letter-spacing: -0.55px;
		@include media-breakpoint-up(sm){
			font-size: rem(30);
			letter-spacing: -0.55px;
		}
		@include media-breakpoint-up(xl){
			font-size: rem(40);
		}
		@include media-breakpoint-up(xxl){
			font-size: rem(48);
		}
	}

	&__{}
	&__{}
}