:root {
	--animate-delay: 1.2s;

	--fontSizeBase: 14px;
	@include media-breakpoint-up(sm){
		--fontSizeBase: 14.5px;
	}
	@include media-breakpoint-up(md){
		--fontSizeBase: 15px;
	}
	@include media-breakpoint-up(lg){
		--fontSizeBase: 15.5px;
	}
	@include media-breakpoint-up(xxl){
		--fontSizeBase: #{$em-base};
	}

	--sPT: #{rem(80)};
	--sPB: #{rem(90)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}
}
