:root {
	--animate-delay: 1.2s;

	--fontSizeBase: 14px;
	--cont-x-padd: 16px;
	@include media-breakpoint-up(sm){
		--fontSizeBase: 14.5px;
	}
	@include media-breakpoint-up(md){
		--fontSizeBase: 15px;
		--cont-x-padd: 20px;
	}
	@include media-breakpoint-up(lg){
		--fontSizeBase: 15.5px;
	}

	--content-w: 50%;
	@include media-breakpoint-up(xl){
		--content-w: 50%;
	}
	@include media-breakpoint-up(xxl){
		--fontSizeBase: #{$em-base};
		--cont-x-padd: 40px;
	}
	@include media-breakpoint-up(base){
		--content-w: 55.418%;
	}

	--sPT: 20px;
	--sPB: 20px;
	--sTPB: 20px;
	@include media-breakpoint-up(lg){
		--sPT: 30px;
		--sPB: 30px;
		--sTPB: 30px;
	}
}
