// start .sMain
.sMain {
	--sm-x-space: 16px;

	&__container{
		min-height: calc(var(--vh, 1vh) * 100);
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	&__bg{
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:after{
			content: '';
			@include media-breakpoint-up(lg){
				content: none;
			}
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($black, .5);
		}
	}
	@include media-breakpoint-down(lg){
		.contacts-col{
			padding-bottom: 1rem;
		}
	}
	@include media-breakpoint-up(xxl){
			--column: 7;
			--row: 4;
		}
		--column: 6;
		--row: 3;
	&__row{
		@include roww(0);

		min-height: calc(var(--vh, 1vh) * 100);
		flex-direction: column;
		@include media-breakpoint-up(lg){
			// min-height: 0;
			min-height: calc(var(--vh, 1vh) * 100);
			// flex-direction: row;
			display: grid;
		}
		 grid-template-columns: repeat(var(--column),1fr);
    grid-template-rows: repeat(var(--row),1fr);
	}
	&__col{
		&--footer{
				@include media-breakpoint-up(xxl){

					grid-column: 1/3;
				}
				grid-column: #{calc(var(--column) - 1) / calc(var(--column) + 1)};
			grid-row: #{var(--row)/var(--row)};
				@include media-breakpoint-up(lg) {

					order: 0; 
				} 
				order: 1;
		}
		&--header{
			// grid-row: 1/1;
    	grid-column: #{calc(var(--column) - 1) / calc(var(--column) + 1)};
				@include media-breakpoint-up(lg) {

					order: 0;
				}
				order: -1;
			}
			&--title{
			@include media-breakpoint-up(lg) {

				order: 0;
			}
			order: -1;
				grid-row: 2/3;
					@include media-breakpoint-up(xxl){

						grid-column: #{4 / calc(var(--column))};
					}
					grid-column: #{4 / calc(var(--column) + 1)};
		}
		
		&--primary{
				grid-row: 2/3;
				// grid-column: #{4 / calc(var(--column))};
				grid-column: 3/3;
			}
			
			&:nth-child(1) {
				// grid-column: 3/3;
				@include media-breakpoint-up(xxl) {

					grid-column: 2/2;
				}
				grid-row: 1/1;
				grid-column: 1/1;
				
			}
			&:nth-child(3) {
					@include media-breakpoint-up(xxl) {
						// grid-row: 2/3;
						grid-column: 5/5;
					}
					grid-row: 1/1;
					// grid-row: 4/1;
					// grid-column: 4/4;
					grid-column: 2/2;
					
				}
				&:nth-child(6) {
				@include media-breakpoint-up(xxl) {

					// grid-row: #{2/2};
					// grid-row: #{3/var(--row)};
				}
				
				grid-row: #{2/2};
					grid-column: 1/1;
					// grid-column: 1/1;

			}
			&:nth-child(7) {
				@include media-breakpoint-up(xxl) {
				grid-row: #{3/var(--row)};
				
				grid-column: 6/6;
				}
					grid-row: #{3/var(--row)};
				grid-column: 4/4;

			}
			&:nth-child(8) {
					@include media-breakpoint-up(xxl) {
						grid-row: #{2/2};
						grid-column: 2/2;
					}
					grid-row: #{2/2};
					grid-column: 2/2;

			}
			&:nth-child(9) {
				@include media-breakpoint-up(xxl) {
					grid-row: #{3/var(--row)};
					// grid-column: 6/6;
					grid-column: 3/3;
				}
				grid-row: #{3/var(--row)};
				grid-column: 3/3;

			}
			&:nth-child(10) {
					@include media-breakpoint-up(xxl) {

						grid-column: 2/2;
					}
					grid-column: 1 / 1;
					grid-row: #{3/var(--row)};
				// grid-row: #{2/ 2 };
			}
			&:nth-child(12) {
				@include media-breakpoint-up(xxl){

					grid-column: 5/5;
					grid-row: #{var(--row)/var(--row)};
				}
				grid-column: 4 / 4;
				grid-row: #{1/ 1 };

			}
		position: relative;
		z-index: 1;
		@include media-breakpoint-up(lg){
			width: 100%;
		}
	
		&:before{
			@include media-breakpoint-up(lg){
				content: '';
			}
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: calc(100% + 1px);
			height: calc(100% + 1px);
			border: 1px solid rgba($white, .3);
		}

		@include mt();
		display: flex;
		flex-direction: column;
		// justify-content: flex-end;

		text-decoration: none;

		// @include media-breakpoint-up(lg){
		// 	min-height: calc(var(--vh, 1vh) * 25 - 0.125px);
		// }
		// @include media-breakpoint-up(xl){
		// 	min-height: #{'max(calc( (var(--vh, 1vh) * 33.33333) - 0.125px), 220px)'};
		// }
		// @include media-breakpoint-up(xxl){
		// 	min-height: #{'max(calc( (var(--vh, 1vh) * 25) - 0.125px), 220px)'};
		// }

		//orders
		// &.contacts-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -20;
		// 	}
		// }
		// &.works-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -20;
		// 	}
		// }
		// &.company-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -20;
		// 	}
		// }
		// &.team-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -19;
		// 	}
		// }

		// &.armor-col{
		// 	@include media-breakpoint-down(lg){
		// 		order: -1;
		// 	}
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -17;
		// 	}
		// }
		// &.individual-col{
		// 	@include media-breakpoint-down(lg){
		// 		order: -1;
		// 	}
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -14;
		// 	}
		// }
		// &.trade-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -13;
		// 	}
		// }
		// &.logo-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -16;
		// 	}
		// }
		// &.title-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -16;
		// 	}
		// }
		// &.flat-col{
		// 	@include media-breakpoint-between(xl,xxl){
		// 		order: -14;
		// 	}
		// }


		&--default{
			@include media-breakpoint-down(sm){
				padding-bottom: 7px;
			}
			@include media-breakpoint-down(lg){
				padding: 0 var(--sm-x-space, 16px) 10px var(--sm-x-space, 16px);
			}

			position: relative;
			z-index: 1;
			color: $white;

			@include media-breakpoint-up(lg){
				background: rgba(65, 59, 52, .6);
				backdrop-filter: blur(5px);
			}

			&:hover{
				color: $white;
				@include media-breakpoint-up(lg){
					background: $white;
					color: $primary;
					--descr-col: #{rgba($black,.5)};
				}
			}

			@include media-breakpoint-up(xl){
				.twin,
				.face{
					display: block;
					@include mt();
					height: 0;
				}

				.face{
					opacity: 1;
				}
				.twin{
					opacity: 0;
				}
				&:hover{
					.face{
						opacity: 0;
					}
					.twin{
						opacity: 1;
					}
				}
			}
		}


		&--header{
			display: block;
			padding: 0!important;

			// order: -999;
			// @include media-breakpoint-up(lg){
			// 	order: 0;
			// }
			// @include media-breakpoint-between(xl,xxl){
			// 	order: -18;
			// }
		}
		&--primary{
			background-color: $primary;
			@include media-breakpoint-up(xl){
				padding: 16px 20px!important;
			}
		}
		&--title{
			@include media-breakpoint-down(lg){
				padding: 18px var(--sm-x-space, 16px) 19px var(--sm-x-space, 16px);
			}

			// order: -10;
			@include media-breakpoint-up(lg){
				// order: 0;
				background: rgba($black, .2);
			}

			@include media-breakpoint-up(xxl){
				padding-top: 16px!important;
				padding-bottom: 16px!important;
			}
		}
		&--black{
			background: $black;

			@include media-breakpoint-down(lg){
				max-width: calc(100% - (var(--sm-x-space, 16px) * 2));
				margin: 0 var(--sm-x-space, 16px) rem(18) var(--sm-x-space, 16px);
				padding: 13px 16px 16px;
			}

			@include media-breakpoint-up(lg){
				&:hover{
					background: $white;
					color: $primary;
					--descr-col: #{rgba($black, .9)};
				}
			}
		}
		&--footer{
			display: block;
			padding: 0!important;

			// order: 999;
			margin-top: auto;
			@include media-breakpoint-up(lg){
				// order: 0;
				margin: 0;
			}
		}

		//spacings
		@include media-breakpoint-up(lg){
			padding: rem(16);
		}
		@include media-breakpoint-up(xl){
			padding: rem(20);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(24);
		}
		@include media-breakpoint-up(base){
			padding: rem(24);
		}


		// @include media-breakpoint-up(xxl){
		// 	width: calc(100% / 7) !important;
		// }
		// &.x2{
		// 	@include media-breakpoint-up(xxl){
		// 		width: calc(100% * 2 / 7) !important;
		// 	}
		// }
		// &.x3{
		// 	@include media-breakpoint-up(xxl){
		// 		width: calc(100% * 3 / 7) !important;
		// 	}
		// }
		// &.off-x1{
		// 	@include media-breakpoint-up(xxl){
		// 		margin-left: calc(100% / 7) !important;
		// 	}
		// }
		// &.off-x2{
		// 	@include media-breakpoint-up(xxl){
		// 		margin-left: calc(100% * 2 / 7) !important;
		// 	}
		// }

	}
	&__txt{
		font-size: 16px;
		@include media-breakpoint-up(sm){
			font-size: rem(20);
		}
		@include media-breakpoint-up(xl){
			font-size: rem(24);
		}
		line-height: 1.2;

		&--primary{
			margin-bottom: 4px;
			@include media-breakpoint-up(lg){
				margin-bottom: 0;
			}

			color: $primary;
			font-weight: 600;
		}
	}
	//logo-col
	&__logo{
		@include media-breakpoint-up(xl){
			margin-bottom: 8px;
		}
		@include media-breakpoint-up(base){
			margin-bottom: 10px;
		}
		display: block;

		img{
			width: auto;
			max-width: 100%;
		}
	}
	&__logo-name{
		margin-top: auto;

		font-size: rem(14);
		@include media-breakpoint-up(xl){
			font-size: rem(16);
		}
		line-height: (19/16);

		letter-spacing: 0.04em;
		text-transform: uppercase;

		color: rgba($white, .5);
	}
	&__descr{
		@include mt();
		margin-top: auto;

		font-size: 12px;
		@include media-breakpoint-up(sm){
			font-size: rem(15);
		}
		@include media-breakpoint-up(xl){
			font-size: rem(16);
		}
		line-height: (19/16);
		letter-spacing: 0.04em;

		color: $white;
		@include media-breakpoint-up(lg){
			color: var(--descr-col, #{rgba($white, .5)});
		}
	}
	&__title{
		font-weight: 800;
		color: $white;
		margin-bottom: 0;

		letter-spacing: -0.3px;
		line-height: (35/32);
		font-size: 32px;
		max-width: rem(500);
		@include media-breakpoint-up(lg){
			letter-spacing: normal;
			line-height: (52/48);
			font-size: rem(36);
			max-width: 100%;
		}
		@include media-breakpoint-up(xl){
			margin-top: -5px;
			font-size: rem(40);
			margin-bottom: auto;
		}
		@include media-breakpoint-up(xxl){
			margin-top: 0;
			font-size: rem(46);
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sMain

.m-header{
	background: $black;
	color: $white;
	width: 100%;
	min-height: 100%;

	padding: 12px 16px 16px 16px;
	@include media-breakpoint-up(lg){
		padding: rem(20);
	}
	@include media-breakpoint-up(xl){
		padding: rem(30) rem(32);
	}
	@include media-breakpoint-up(base){
		padding: rem(35) rem(40);
	}

	.burger{
		padding-top: 6px;
		@include media-breakpoint-up(sm){
			padding-top: 0;
		}
	}

	&__row{
		@include roww(23px);

		& > *{
			margin-bottom: 10px;
		}
		margin-bottom: -10px;

		padding-bottom: 21px;
		@include media-breakpoint-up(lg){
			padding-bottom: rem(20);
		}
		@include media-breakpoint-up(xl){
			padding-bottom: rem(25);
		}
	}
	&__tell{
		display: block;
		text-decoration: none;
		font-weight: 600;

		font-size: rem(24);
		letter-spacing: 0.4px;
		@include media-breakpoint-up(xl){
			font-size: rem(30);
			letter-spacing: 0.04em;
		}
		color: $white;
		line-height: 1.2;

		text-align: right;
	}
	&__wa{
		width: 16px;
		height: 16px;
		@include media-breakpoint-up(sm){
			width: rem(20);
			height: rem(20);
		}
		@include media-breakpoint-up(xl){
			width: rem(24);
			height: rem(24);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__foot{

	}
	&__location{
		line-height: (19/16);
		letter-spacing: 0.04em;
		color: $white;
		margin-bottom: rem(22.5);
	}
	&__mail{
		display: block;
		@include mt();
		text-decoration: none;
		line-height: (19/16);
		letter-spacing: 0.04em;
		margin-bottom: rem(22);

		color: $primary;
		&:hover{
			color: $white;
		}
	}
	&__call-back{
		display: block;
		text-decoration: none;
		line-height: (19/16);
		letter-spacing: 0.04em;
		color: $primary;
	}
	&__mob-foot{
		display: flex;
		align-items: flex-end;
	}
	&__logo{
		display: block;
		max-width: 135px;
		@include media-breakpoint-up(sm){
			max-width: 200px;
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	&__logo-name{
		margin-left: 43px;

		font-size: 11px;
		margin-bottom: 3px;
		@include media-breakpoint-up(sm){
			font-size: rem(16);
			margin-bottom: 0;
		}
		letter-spacing: 0.04em;
		line-height: 1.2;
		text-transform: uppercase;
		color: rgba($white, .5);
	}
	&__{}
}

.burger{
	cursor: pointer;
	width: 24px;
	height: 24px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&:before,
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $white;
	}
	&:before{
		margin-bottom: 8px;
	}

	&--black{
		&:before,
		&:after{
			background: $black;
		}
	}
}

//.m-footer
.m-footer{
	min-height: 100%;
	background: $white;
	display: flex;
	flex-direction: column;

	padding: 28px 30px;
	@include media-breakpoint-up(lg){
		padding: rem(20) rem(24);
	}
	@include media-breakpoint-up(xl){
		padding: rem(30) rem(32);
	}
	@include media-breakpoint-up(xxl){
		padding: rem(40);
	}

	.footer-soc{
		justify-content: center;
		padding-bottom: 17px;
		@include media-breakpoint-up(lg){
			padding-bottom: 30px;
			justify-content: flex-start;
		}
	}

	.footer-policy{
		margin-top: auto;

		text-align: center;
		flex-direction: column-reverse;
		@include media-breakpoint-up(lg){
			flex-direction: row;
			text-align: left;
		}

	}
}

.footer-soc{
	@include roww(rem(24));
	& > *{
		margin-bottom: 12px;
	}
	margin-bottom: -12px;


	&__link{
		@include mt();
		width: 32px;
		height: 32px;
		&:hover{
			opacity: .8;
		}

		display: flex;
		justify-content: center;
		align-items: center;

		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__{}
}
.footer-policy{
	& > *{
		margin-bottom: 15px;
	}
	margin-bottom: -15px;


	&__year{
		line-height: (19/16);
		letter-spacing: 0.04em;
		color: $gray-990;

		@include media-breakpoint-up(xxl){
			padding-right: 40px;
		}
	}
	&__policy{
		display: block;
		text-decoration: none;
		font-size: 12px;
		line-height: 1.2;
		letter-spacing: 0.04em;
		color: $gray-990;
	}
}