mixin sMain(data)
	// start sMain
	+b.SECTION.sMain#sMain&attributes(attributes)
		+e.container
			+pic('main-bg.jpg')(class="sMain__bg")
			+e.row.row
				//-1 row
				+e.col.col-lg-2
				+e.col.col-lg-2
				+e.col--default.col-lg-2(href="#")
					+e.txt О компании
				//-
				+e.col--header.x2.off-x2.col-lg-4.offset-lg-2
					+mHeader()
				//-2 row
				+e.col.col-lg-2
				+e.col--default.col-lg-2(href="#")
					+e.txt Команда
				//-
				+e.col--primary.col-lg-2.d-none.d-lg-block
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/txt-logo-white.svg" alt="")
					+e.H4.logo-name.mb-0
						| Московская
						br
						| инвестиционная
						br
						| группа
						br
						| квартир
				//-
				+e.col--title.x3.col-lg-6.me-auto
					+e.H1.title
						| Продажа
						| квартир&nbsp;бизнес
						| и&nbsp;премиум класса с&nbsp;ремонтом
						| из&nbsp;наличия
						| и&nbsp;на&nbsp;заказ
						| в&nbsp;Москве и&nbsp;МО
				//-3 row
				+e.col--default.off-x1.col-lg-2(href="#")
					+e.txt
						| Квартиры
						|
						br.d-none.d-lg-block
						| с ремонтом
						|
						br.d-none.d-lg-block
						| в продаже
				//-
				+e.col--default.col-lg-2(href="#")
					+e.txt Trade in
					+e.descr.d-none.d-lg-block
						| Обмен вашей квартиры без ремонта на нашу квартиру с ремонтом с&nbsp;доплатой
				//-
				+e.col--black.col-lg-2(href="#")
					+e.txt--primary
						| MIGFlat
						|
						br.d-none.d-lg-block
						| бронирование
					+e.descr
						| Купить квартиру
						br
						| из наличия
				//-
				+e.col--black.off-x1.col-lg-2.offset-lg-2.offset-xxl-0(href="#")
					+e.txt--primary
						| MIGFlat
						|
						br.d-none.d-lg-block
						| Individual
					+e.descr
						| Индивидуальная работа
						|
						br.d-block.d-lg-none
						| под вашу задачу
				//-
				+e.col--default.col-lg-2(href='#')
					+e.txt.mb-auto
						| Наши
						|
						br.d-none.d-lg-block
						| работы
				//-4 row
				+e.col--footer.x2.col-lg-4
					+mfooter()
				+e.col.col-lg-2
				+e.col.col-lg-2.d-xxl-block.d-none
				+e.col--default.col-lg-2(href='#')
					+e.txt.mb-auto Контакты
				.pb-12.d-lg-none.d-block
				+e.col.col-lg-2
	// end sMain

mixin mHeader()
	+b.HEADER.m-header
		+e.row.row.align-items-center
			.col.d-lg-none
				+b.burger.burger-js
			.col-auto.col-lg
				+e.tell(href='tel:+74957440086') +7 495 744 00 86
			.col-auto
				+e.wa(href="ttps://wa.me/+74957440086?text=Здравствуйте!%20У%20меня%20есть%20несколько%20вопросов.")
					img(loading="lazy" src="img/svg/m-h-wa.svg" alt="")
		+e.foot.text-sm-end.d-none.d-lg-block
			+e.location Москва, ул. Воронцовские Пруды, д.3
			+e.mail(href='mailto:info@migflat.ru') info@migflat.ru
			+e.call-back(href='#') Обратный звонок
		+e.mob-foot.d-lg-none
			+e.logo(href='#')
				img(loading="lazy" src="img/svg/txt-logo-white.svg" alt="")
			+e.H4.logo-name
				| Московская
				br
				| инвестиционная
				br
				| группа
				br
				| квартир


mixin mfooter()
	+b.FOOTER.m-footer
		+footerSoc()
		+footerPolicy()

mixin footerSoc(addClasses)
	+b.footer-soc.row(class=addClasses)
		.col-auto
			+e.link(href='#')
				img(loading="lazy" src='img/svg/inst.svg' alt="")
		.col-auto
			+e.link(href='#')
				img(loading="lazy" src='img/svg/yt.svg' alt="")

mixin footerPolicy(addClasses)
	+b.footer-policy.row.align-items-center(class=addClasses)
		.col-lg-auto
			+e.year
				| ©
				|
				span.set-curr-year-js 2021
		.col-lg
			+e.policy(href='#') Политика конфиденциальности