mixin sCertificats(data)
	// start sCertificats
	+b.SECTION.sCertificats.section#sCertificats&attributes(attributes)
		+e.container.container-fluid
			+e.section-title
				h2 Сертификаты
			+e.slider-wrap
				+e.row.row
						+cetificatSlide('1.jpg')
						+cetificatSlide('2.jpg') 
						.col-lg-5
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quae, placeat eos ipsa optio consequuntur animi deserunt reiciendis officiis explicabo!
	// end sCertificats

mixin cetificatSlide(imgNum)
	.col-xl-3.col-lg.col-sm-6
		+e.box
			+e.img-cont(href=`img/@2x/cert-${imgNum}` data-fancybox=`officeImg1`)
				img(src=`img/@2x/cert-${imgNum}`  loading="lazy" alt="")
			+e.scale-link(href=`img/@2x/cert-${imgNum}` data-fancybox=`officeImg2`) Увеличить


