mixin sArmor(data)
	// start sArmor
	+b.SECTION.sArmor.section#sArmor&attributes(attributes)
		+e.container.container-fluid
			+sTitle('MIGFlat бронирование')
			+b.pic-txt
				+picTxt(1)
					| Мы осуществляем комплекс работ по приобретению квартир в новых жилых комплексах бизнес- и премиум-сегмента в престижных районах Москвы и Московской области, разрабатываем дизайн-проект квартир, осуществляем качественную реализацию строительно-ремонтных работ «под ключ» и продаём готовые квартиры с качественным дизайнерским ремонтом с гарантией на свои работы.
				+picTxt(2)
					| Приобретая квартиру у нас, мы гарантируем, что Ваша покупка является удачной инвестицией. Мы не являемся посредниками, а весь цикл работ: от покупки квартир свободной планировки до продажи квартиры с готовым ремонтом осуществляем полностью своими силами. Квартиры приобретаются у крупных застройщиков (кроме направления
					|
					span.text-primary TRADE-IN
					| ), а это, в свою очередь, полная гарантия юридической и финансовой чистоты документов при заключении сделок купли-продажи квартир.
			+e.baner-cont
				+baner('бронирование')(class="baner--alt")
					+e.b-txt--alt
						| Воспользуйтесь нашим сервисом по Онлайн-бронированию готовых квартир с ремонтом в новых жилых комплексах Москвы и Московской области
	// end sArmor

mixin picTxt(imgNum, addTxtClasses='')
	+e.row.row
		+e.pic-col.col-md-auto
			+e.img
				img(loading="lazy" src=`img/@2x/pic-${imgNum}.jpg` alt="")
		+e.txt-col(class=addTxtClasses).col-md
			block