mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+e.side-bg.d-none.d-xl-flex
			img(loading="lazy" src="img/@2x/side-bg3.png" alt="")
		+e.container.container-fluid
			+sTitle('О компании')
			+e.txt-block
				+e.H2.sub-title
					| MIGFlat предлагает новый подход
					|
					br.d-none.d-md-block
					| к приобретению квартир
				+e.sub-descr
					| Наша компания занимается продажей готовых квартир с ремонтом в
					|
					br
					| инвестиционно-привлекательных жилых комплексах бизнес и премиум класса в престижных районах Москвы и Московской области. Мы сами подбираем инвестиционно-привлекательную квартиру, разрабатываем дизайн-проект квартиры, делаем качественный ремонт и мы даем гарантию на весь комплекс работ, включая юридическую чистоту приобретаемых у нас объектов, качество произведенного ремонта и инвестиционную привлекательность приобретенного объекта. Таким образом, приобретая квартиру с ремонтом у нас, вы ее покупаете без посредников
			+e.decision-title Готовое решение по покупке квартиры
			+e.d-row.row
				+DecisionItem(1)
					| Оценка застройщиков и новостроек, исходя из качества построенных жилых комплексов, качества подведенных коммуникаций, месторасположения комплексов, наличия паркинга, детской площадки
				+DecisionItem(2)
					| Подбор вариантов недвижимости в ликвидных жилых комплексах бизнес и премиум класса в престижных районах Москвы и Московской области со всей необходимой инфраструктурой
				+DecisionItem(3)
					| Мы поможем обеспечить вас квартирой с качественным ремонтом, которая станет не только уютным жильем, но и надежным вкладом ваших сбережений
			+e.vantage-title Преимущества MIGFlat
			+e.UL.list
				li Отсутствие финансовых рисков, весь цикл работ от покупки квартиры свободной планировки до продажи квартиры с готовым ремонтом осуществляем за свой счет
				li Отсутствие юридических рисков, работаем с проверенными юридическими лицами (только с крупными застройщиками)
				li Отпадает необходимость обращения в риэлтерские агентства
				li Не нужно тратить здоровье, время и силы на выполнение качественного ремонта квартиры 
				li Гарантируем ликвидность выбранной вами квартиры
				li
					| Свой профессиональный кадровый состав: от специалиста по недвижимости, который поможет Вам с подбором квартиры, до строительной организации со стажем,
					|
					br.d-none.d-xxl-block
					| которая сделает качественный ремонт в короткие сроки

	// end sAbout

mixin DecisionItem(imgNum)
	.col-lg-4
		+e.d-sub-row.row
			.col-sm-auto.col-lg-12
				+e.d-img
					img(loading="lazy" src=`img/svg/des-${imgNum}.svg` alt="")
			.col-sm.col-lg-12
				+e.d-txt
					block