extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMain/_sMain.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sPolicy/_sPolicy.pug
include ../blocks/sArmor/_sArmor.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sTradeIn/_sTradeIn.pug
include ../blocks/sReady/_sReady.pug
include ../blocks/sCompleated/_sCompleated.pug
include ../blocks/sIndividual/_sIndividual.pug
include ../blocks/sCertificats/_sCertificats.pug
include ../blocks/sFlat/_sFlat.pug
include ../blocks/sHoldService/_sHoldService.pug


block variables
	- let  mainPage= 'bg-black'
	- let  bg= null
block title
	- let  title= '012-service'
	title= title
block pagecontent
	+sHoldService3()
	//-+footer()