extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMain/_sMain.pug
include ../blocks/sCompleated/_sCompleated.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= '03-repaired'
	title= title
block pagecontent
	+mMenu()
	+header('not')
	+sCompleated('btn')
		| Квартиры с ремонтом в продаже
	+footer()