extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sMain/_sMain.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sPolicy/_sPolicy.pug
include ../blocks/sArmor/_sArmor.pug
include ../blocks/sTradeIn/_sTradeIn.pug
include ../blocks/sCompleated/_sCompleated.pug

block variables
	- let  mainPage= null 
	- let  bg= null
block title
	- let  title= '08-armor'
	title= title
block pagecontent
	+mMenu()
	+header()
	+sArmor()
	+footer()