mixin sReady(data)
	// start sReady
	+b.SECTION.sReady.section#sReady&attributes(attributes)
		+e.container.container-fluid
			+e.section-title
				h2 Вы покупаете готовый Продукт:
			+b.pic-txt
				+picTxt(3)
					| Мы предлагаем вам не просто квартиру свободной планировки, заказывая наши услуги вы получаете квартиру
					|
					br.d-none.d-xxl-block
					| с готовым качественным ремонтом
				+picTxt(4)
					| Мы предлагаем объекты в новых жилых комплексах бизнес- или премиум-сегмента в престижных районах Москвы с развитой инфраструктурой. Приобретая квартиру у нас, мы гарантируем, что Ваша покупка является надёжным вкладом ваших сбережений

	// end sReady