// start .header
.header {
	padding: 12px var(--cont-x-padd, 20px) 0;
	@include media-breakpoint-up(sm){
		padding: rem(20) var(--cont-x-padd, 20px) rem(10);
	}
	@include media-breakpoint-up(lg){
		position: absolute;
		top: 0;
		right: 0;
		background: $white;
		padding: rem(30) var(--cont-x-padd, 40px);
	}
	@include media-breakpoint-up(xxl){
		padding: rem(36) var(--cont-x-padd, 40px);
	}

	&__row{
		@include roww(24px);
		& > *{
			margin-bottom: 18px;
		}
		margin-bottom: -18px;

		@include media-breakpoint-up(xxl){
			@include roww(rem(42px));
		}
	}
	&__tell{
		font-weight: 600;
		line-height: 1.2;

		letter-spacing: 0.04em;
		color: $black;
		&:hover{
			color: rgba($black, .8);
		}

		@media (max-width: 455px) {
			font-size: 20px;
		}
	}
	&__call-back{
		font-weight: 600;
		font-size: 14px;
		line-height: (17/14);
	}
	&__reserve-btn{
		@extend .btn;
		@extend .btn-primary;

		@include media-breakpoint-up(xxl){
			margin-left: 22px;
		}
	}
	&__burger{
		width: rem(40);
		height: rem(40);
		position: relative;

		@include media-breakpoint-up(xxl){
			margin-left: 6px;
		}

		span,
		span:before,
		span:after{
			@include mt();
			content: '';
			position: absolute;
			right: 0;
			height: 1px;
			background: $black;
			&:hover{
				width: 100%;
			}
		}

		span{
			width: 100%;
			top: 50%;
		}
		span:before{
			width: 100%;
			top: -8px;
		}
		span:after{
			width: rem(24);
			bottom: -8px;
		}
	}
	&__wa{
		width: 16px;
		height: 16px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	//
	&__btn-col{
		@media (max-width: 455px) {
			width: 100%;
		}
	}
	&__reserve-btn{
		@media (max-width: 455px) {
			min-height: 40px;
			width: 100%;
			font-size: 14.5px;
		}
	}
	//
	&__{}
	&__{}
	&__{}
} // end.header