mixin sIndividual(data)
	// start sIndividual
	+b.SECTION.sIndividual.section#sIndividual&attributes(attributes)
		+e.container.container-fluid
			+sTitle('MIGFlat Individual')
			+e.H2.sub-title Индивидуальный подбор квартиры, разработка дизайн-проекта и выполнение ремонта под вас
			+b.pic-txt
				+picTxt(3)
					strong Мы не просто подберём квартиру индивидуально для вас
					|
					| в новых жилых комплексах бизнес и премиум сегмента в престижных районах Москвы, мы поможем обеспечить вас квартирой с качественным ремонтом, которая станет не только уютным жильём, но и надёжным вкладом ваших сбережений. Мы возьмём на себя организацию сделок купли-продажи любой сложности. Для выполнения данной задачи в нашем штате имеются свой юрист и специалист по недвижимости с многолетним опытом работы.
				+picTxt(2)
					strong
						| Ваши гарантии и наш подход: квартира является не только Вашей инвестицией, но и НАШИМ инвестиционным
						|
						br.d-none.d-xxl-block
						| Проектом.
					br
					br
					| Мы оставляем за вами право отказаться от покупки выбранной квартиры, и мы должны быть УВЕРЕНЫ, что сможем БЫСТРО реализовать ее сторонним покупателям, поэтому мы предлагаем Вам только инвестиционно- привлекательные варианты квартир.
			+e.txt-row.row
				+e.txt-col.col-lg-4
					strong
						| Как это работает на практике?
						|
					| Получив от вас предварительное Задание по заявке, мы готовим предложение и направляем его вам на рассмотрение. Мы направляем свое видение, что может вам подойти и приглашаем Вас на встречу в наш Офис для обсуждения и детальной проработки информации. На встрече подробно обсуждается: район приобретаемого жилья, какое вы хотите приобрести жилье, соответствуют ли ваши пожелания о статусе инвестиционного объекта (жилого комплекса) статусу района, что очень важно при возможном принятии Вами решения в будущем продать жилье, как ликвидный инвестиционный актив.
				+e.txt-col.col-lg-4
					strong
						| После согласованного решения
						br.d-sm-none.d-lg-block
						| о выбранном районе,
						|
					| жилом комплексе и квартире, мы сами приобретаем квартиру у застройщика. Полностью берём на себя юридическое сопровождение сделки, проверяем правоустанавливающие документы. После чего с Вами заключаем Договор покупки будущей недвижимой вещи (квартиры) и разрабатываем Дизайн-проект с последующей реализацией строительно-ремонтных работ «под ключ».
				+e.txt-col.col-lg-4
					strong При этом мы с вами заранее оговариваем ограничения по ремонту. РЕМОНТ должен быть качественным, современным и ЛИКВИДНЫМ!
					br
					| Эксклюзивные и уникальные ремонты, которые в дальнейшем очень сложно реализовать МЫ НЕ ДЕЛАЕМ! Таким образом, мы ограничиваем Ваши «фантазии» ради привлекательности Вашего инвестиционного объекта (квартиры) в будущем. Мы сами проектируем, предлагаем на выбор 3 варианта планировочных решений, по нашему мнению, наиболее удобных. Выбрав итоговый вариант планировочных решений, мы сами производим полный комплекс строительно-ремонтных работ.
					br.d-none.d-sm-block
					br
					| При этом Вы в любое время можете присутствовать на объекте и наблюдать за динамикой выполнения работ. При таком подходе вы имеете возможность видеть, как мы работаем.
			+e.baner
				+e.b-bg
					img(loading="lazy" src="img/@2x/baner-bg.jpg" alt="")
				+e.b-txt Воспользуйтесь индивидуальным подбором квартиры, ремонтом и сдачей квартиры для вас
				.baner__b-link(href='#')
					.baner__bl-txt
						| MIGFlat
						br
						| Individual
					.baner__b-img
						img(loading="lazy" src="img/svg/arrow-r-circle-black.svg" alt="")
	// end sIndividual