//- menu
mixin mnu()
	-
		var nav= {
			"О компании":"#",
			"Команда":"#",
			"Объекты в продаже":"#",
			"Trade in":"#",
			"MIGFlat бронирование":"#",
			"MIGFlat Individual":"#",
			"Выполненные работы":"#",
			"Контакты":"#",
			}
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu